<div id="<%= dom_id item %>">
  <p>
    <strong>name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>callories:</strong>
    <%= item.callories %>
  </p>

  <p>
    <strong>restaurant_id:</strong>
    <%= item.restaurant_id %>
  </p>
  <p>
    <strong>dish_id:</strong>
    <%= item.dish_id %>
  </p>

</div>
